# PyCharm
.idea/

# Виртуальные окружения
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
.cache/

# Сборки/дистрибутивы
build/
dist/
*.egg-info/

# Секреты/конфиги
.env
.env.*
.coverage
.coverage.*

# ОС
.DS_Store
Thumbs.db
